* {
	box-sizing: border-box;
	padding: 0;
	margin: 0;
}

body {
	background : url(../img/casette.png);
	background-size: cover;
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-position: center center;
	
}
#logo{
    width: 10%;
    height: 20%;
}
nav {
	background: #0067A3;
	text-align: center;
	background-attachment: fixed;
}

#BoxContenedor {
	vertical-align: top;
	height: auto;
}
.scroll{
	white-space: nowrap;
}
#contenedor {
	display: inline-block;
/*	position: relative;*/
	padding: 10px;
	vertical-align: top;
}

#lista {
	width: 100%;
	vertical-align: top;
	/*position: relative;*/
	background-color: #778899;
	padding: 5px; 
	border-radius: 5px;
	cursor: pointer;
}

#formulario {
	width: 100%;
	vertical-align: top;
	position: relative;
	padding: 10px;
	background-color: #778899;
	border-radius: 5px;
}

#input {
	width: 100%;
	display: block;
	border-radius: 5px;
	border: none;
	padding: 5px;
}

#boton {
	background-color: #D3D3D3;
	border: none;
	padding: 5px;
	margin-top: 5px;
	border-radius: 5px;
}

.agregarForm{
	width: 200px;
	vertical-align: top;
	position: relative;
	padding: 10px;
	background-color: #778899;
	border-radius: 5px;
}

#titulo {
	border: none;
	display: inline-block;
	padding: 8px;
	width: 100%;
	border-radius: 5px;
	background-color: #D3D3D3;
	vertical-align: top;
}

#lista:hover {
	background-color: #CDC9C9;
}

.inicio {
	display: inline-block;
	position: relative;
	vertical-align: top;
	background-color: #778899;
	padding: 10px;
	margin: 5px;
	border-radius: 5px;
	cursor: pointer;
}
.textArea{
	border-radius: 5px;
}
.boton{
	display: block;
	background-color: #D3D3D3;
	border: none;
	padding: 5px;
	margin-top: 5px;
	border-radius: 5px;
}

.tarjeta {
	background-color: #F3EDED;
	width: 100%;
	display: block;
	height: auto;
	padding: 2%;
	margin-top:5px;
	border-radius: 5px;
}


.ocultar{
	display: none;	
}
.aparece{
	display: inline-block;
}

.sectionCard{
	background-color: blue;
}